<?xml version='1.0' encoding='utf-8'?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="xyz.whyle.pointcount">
	<uses-permission android:name="android.permission.INTERNET"/>
	<application
		android:name=".app.App"
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:theme="@style/AppTheme"
		android:resizeableActivity="true">
		<meta-data 
			android:name="com.google.android.geo.API_KEY" 
			android:value="AIzaSyBhpjJz9bsgRMdb6ZT-WgtVHSz5CWH3Ac0"/>
		<activity
			android:name=".avtivity.HomeActivity"
			android:label="@string/app_name"
			android:theme="@style/AppTheme.NoActionBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
	</application>
</manifest>
